@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:italwght@0300..800;1300..800&family=Roboto:italwght@0100;0300;0400;0500;0700;0900;1100;1300;1400;1500;1700;1900&family=Ubuntu:italwght@0300;0400;0500;0700;1300;1400;1500;1700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fresca&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap);

@layer base {
    @font-family {
        font-family: Ubuntu;
        font-weight: 300;
        font-style: normal;
    }

    @font-family {
        font-family: Gugi;
        font-weight: 400;
        font-style: normal;
    }

    @font-family {
        font-family: Fresca;
        font-weight: 400;
        font-style: normal;
    }

    @font-family {
        font-family: Dosis;
        font-weight: 200;
        font-style: normal;
    }
}

.button {
    @apply flex gap-4 justify-center bg-neutral-200 hover:shadow-md hover:bg-neutral-400
        hover:cursor-pointer rounded-md px-4 transition-all ease-in-out
        py-2 font-bold;
}

.sidebar {
    @apply border-r-2 rounded-md p-4 flex flex-col h-full basis-1/6 flex-none justify-between;

    .page-title {
        @apply font-gugi mx-auto text-2xl font-bold tracking-wider text-red-700;
    }
}

.projects {
    @apply flex flex-col;

    .project {
        @apply mt-2;

        .project-title {
            @apply text-base font-bold text-neutral-900 mx-auto;
        }
    }
}

.todo {
    @apply flex flex-col p-3 rounded-lg shadow-md mx-auto w-2/3 hover:cursor-pointer justify-items-center
        bg-neutral-100;
}

.accordion {
    @apply transition-all ease-in-out duration-500 flex flex-row justify-between;

    h2 {
        @apply text-lg font-semibold tracking-wide;
    }
}

.panel {
    @apply max-h-0 overflow-hidden transition-[max-height] ease-in-out duration-200;
}

.toggle {
    @apply inline-flex items-center cursor-pointer;

    div {
        @apply relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full
        dark:bg-gray-700  after:content-['']
        after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300
        after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600;
    }
}
